<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="poker.PokerGame" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="poker.EvaluationHandler" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="poker.RobotPlayer" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="poker.Player" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="poker.Dealer" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="poker.Pot" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="poker.PotHandler" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="poker.BetManager" level="off" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>

    </Loggers>

</Configuration>